/* Global styles */
body {
  margin: 0;
  padding: 0;
  background-color: #27282b;
  color: darkgray;
  font-size: 18px;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 
      "sidebar main";
}

/* Sidebar styles */
.logo {
  margin-left: 30px;
  grid-area: sidebar;
  padding-top: 50px;
}

.title {
  margin-left: 30px;
  font-size: 20px;
}


.wtitle {
  margin-top: 40px;
  text-align: center;
}

.xtitle {
  text-align: center;
}

.logo h1 {
  margin: 0;
  font-size: 1rem;
  color: darkkhaki;
}

.logo-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
}

.one {
  position: fixed;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background-color: #27282b;
}

/* Main content styles */
main {
  grid-area: main;
  margin-left: 150px;
  padding: 10px;
}

.content {
  max-width: 100%;
}

/* Footer styles */
.footer {
  background-color: #27282b;
  color: darkgrey;
  margin-left: 30px;
  margin-top: 90px;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

/* Navigation styles */
.navtitle:hover {
  color: darkgoldenrod;
}

.navbar {
  margin-left: -20px;
}

.navtitle {
  display: inline-block;
  padding: 10px 15px;
  background-color: black;
  color: darkgray;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  body {
    display: block;
    font-size: 12px;
  }

  .one {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .logo {
    padding: 10px 0;
  }

  .logo-image {
    height: 100px;
    width: 100px;
  }

  .title {
    font-size: 16px;
    margin-top: 10px;
  }

  .navbar {
    width: 100%;
    text-align: center;
  }

  main {
    margin-left: 0;
    padding: 20px 10px;
  }

  .content {
    margin: 0 auto;
    max-width: 100%;
  }

  .footer {
    display: none;
  }
}

/* Writeup styles */
.writeup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.writeup-box {
  width: calc(100% - 40px);
  padding: 20px;
  background-color: aliceblue;
  margin: 10px auto;
  color: #323232;
  border: 1px solid #bdb4b4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

.writeup-box a {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 20px;
  font-weight: bold;
}

.writeup-box a:hover {
  color: #323232;
}

.writeup-box p {
  margin: 10px 0;
  font-size: 16px;
}

.markdown-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Code block styling */
.markdown-content pre {
  white-space: pre-wrap;
  overflow-x: auto;
  border: 1px solid #bdb4b4;
  padding: 10px;
  border-radius: 5px;
}

.markdown-content img {
  max-width: 100%;
  height: auto;
}
