
  body {
    margin: 0;
    padding: 0;
    background-color:#222831;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "sidebar main"
}

.logo {
    margin-left: 150px;
    grid-area: sidebar;
    padding: 50px;
    margin-right: px;
}

.logo h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
}

.logo-image {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 0px;
  }

  .one {
    position: fixed ;
  }

main {
    grid-area: main;
    padding: 10px;
}

.content {
    max-width: 100%;
    text-align: left;
    margin-left: -75px;

}

.footer {
	background-color:#222831;
	color: white;
	margin-left: 100px;
	text-align: center;
  grid-column: 1 / span 2;
  bottom: 1000px;
}

.footer p {
	margin: 0;
	font-size: 1.2rem;
}

.navtitle:hover{
  color: #222831;
}


.navtitle{
  margin-bottom: 20px;
  font-size: 17px;
}
